<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowFeedback</servlet-name>
        <servlet-class>database.ShowFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDep</servlet-name>
        <servlet-class>database.showDep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFaculty</servlet-name>
        <servlet-class>database.ShowFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>database.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveFeedback</servlet-name>
        <servlet-class>feedback.GiveFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedback</servlet-name>
        <servlet-class>feedback.SubmitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillSub</servlet-name>
        <servlet-class>database.FillSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubSub</servlet-name>
        <servlet-class>database.SubSub</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>showfb</servlet-name>
        <servlet-class>database.showfb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutayush</servlet-name>
        <servlet-class>aboutDeveloper.aboutayush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowFeedback</servlet-name>
        <url-pattern>/ShowFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDep</servlet-name>
        <url-pattern>/showDep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFaculty</servlet-name>
        <url-pattern>/ShowFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveFeedback</servlet-name>
        <url-pattern>/GiveFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedback</servlet-name>
        <url-pattern>/SubmitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillSub</servlet-name>
        <url-pattern>/FillSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubSub</servlet-name>
        <url-pattern>/SubSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showfb</servlet-name>
        <url-pattern>/showfb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutayush</servlet-name>
        <url-pattern>/aboutayush</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
